<div class="container">
    <form #FormGru="ngForm" [formGroup]="FormGrupo" novalidate (ngSubmit)="GuardarEditarGrupo(FormGrupo.value)">
        <div class="bodyfrm" flex="">
            <div flex="">
                <mat-grid-list cols="7" rowHeight="2:1">
                    <p style="margin-top: 10%;">Información del Grupo</p>
                    <mat-grid-tile  [colspan]="2" [rowspan]="1.2">
                        <mat-form-field appearance="fill" class="">
                            <mat-label>Código</mat-label>
                            <input matInput maxlength="30" title="Ingresar código del grupo" formControlName="tag" name="tag" required>
                            <mat-error *ngIf="FormGrupo.get('tag')?.invalid">Código no puede ser nulo!</mat-error>
                        </mat-form-field>
                        <input type="hidden" formControlName="id" name="id">
                    </mat-grid-tile>
                    <mat-grid-tile  [colspan]="5" [rowspan]="1.2">
                        <mat-form-field appearance="fill" class="">
                            <mat-label>Descripción del grupo</mat-label>
                            <input matInput maxlength="250" title="Ingresar descripción del grupo" formControlName="description" name="description" required>
                            <mat-error *ngIf="FormGrupo.get('description')?.invalid">Descripción no puede ser nulo!</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile  [colspan]="3" [rowspan]="1.5">
                        <mat-form-field appearance="fill" class="">
                            <mat-label>Tipo Tarifa</mat-label>
                            <!-- <select matNativeControl required formControlName="taxId" name="taxId" title="Tipo de tarifa del grupo">
                                <option value="NA">Seleccione tipo de tarifa</option>
                                <option value="1">Tarifa Premiun</option>
                                <option value="2">Tarifa Media</option>
                                <option value="3">Tarifa Simple</option>
                            </select> -->
                            <select matNativeControl required formControlName="taxId" name="taxId" title="Tipo de tarifa del delgrupo">
                                <option value="0">Seleccione tipo de tarifa</option>
                                <option *ngFor="let tar of tarifas" [value]="tar.id">{{tar.description}} ({{tar.tag}})</option>
                            </select>
                            <mat-error *ngIf="FormGrupo.get('taxId')?.invalid">Tipo de tarifa no puede ser nulo!</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div class="bottomfrm" flex="">
            <hr class="hrheadfrm">
            <div class="divbtnsForm">
                <button id="btnClose" mat-raised-button mat-dialog-close class="btnprimaryc" tabindex="-1">Cancelar</button>
                <button mat-raised-button class="btnprimary" tabindex="-2" type="submit" style="margin-right: 4%;">{{titlebGoE}}</button>
            </div>
        </div>
    </form>
</div>


