<div class="container">
    <!-- <form #FormTipEmp="ngForm"  [formGroup]="FormTiposEmpresas" novalidate (ngSubmit)="GuardarEditarTipoEmp(FormTiposEmpresas.value)"> -->
        <!-- <div class="bodyfrm" flex=""> -->
            <!-- <div flex="">
                <mat-grid-list cols="7" rowHeight="2:1">
                    <p style="margin-top: 5%;"> </p>
                    <mat-grid-tile  [colspan]="2" [rowspan]="1">
                        <mat-form-field appearance="fill" class="">
                            <mat-label>Código</mat-label>
                            <input matInput class="input-upper" maxlength="10" title="Ingresar código de documento" formControlName="tag" name="tag" required>
                            <mat-error *ngIf="FormTiposEmpresas.get('tag')?.invalid">Código no puede ser nulo!</mat-error>
                            <input type="hidden" formControlName="id" name="id">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile  [colspan]="4" [rowspan]="1">
                        <mat-form-field appearance="fill" class="">
                            <mat-label>Descripcion</mat-label>
                            <input matInput maxlength="250" title="Ingresar descripción" formControlName="description" name="description" required>
                            <mat-error *ngIf="FormTiposEmpresas.get('description')?.invalid">Descripción no puede ser nulo!</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile  [colspan]="1" [rowspan]="1">
                        <mat-slide-toggle color="primary" formControlName="inactive" name="inactive">Tipo Inactivo</mat-slide-toggle>
                    </mat-grid-tile>
                    <mat-grid-tile  [colspan]="2" [rowspan]="1">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo documento</mat-label>
                            <select matNativeControl formControlName="type" name="type" title="tipo de documento" >
                                <option value="Hoja de Vida">Hoja de Vida</option>
                                <option value="Cliente">Cliente</option>
                                <option value="Revisor">Revisor</option>
                            </select>
                            <mat-error *ngIf="FormTiposEmpresas.get('type')?.invalid">Tipo de documento no puede ser nulo!</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div> -->
            <div flex="">
                <form #_FormTipEmpDet="ngForm" [formGroup]="FormTipEmpDet" novalidate (ngSubmit)="GuardarEditarDocAnexos(FormTipEmpDet.value)">
                    <mat-grid-list cols="7" rowHeight="2:1">
                        <div class="col"><h2>{{titledoc}}</h2></div>
                        <mat-grid-tile  [colspan]="5" [rowspan]="1">
                            <mat-form-field appearance="fill" class="mat-form-login">
                                <mat-label>Nombre del documento</mat-label>
                                <input matInput maxlength="100" class="input-upper"  title="Agregar nombre del documento" formControlName="name" name="name" required>
                                <mat-error *ngIf="FormTipEmpDet.get('name')?.invalid">Nombre del documento no puede ser nulo!</mat-error>
                                <input type="hidden" formControlName="id" name="id">
                                <input type="hidden" formControlName="tocompany" name="tocompany">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field *ngIf="OcultarDT">
                                <mat-label>Días de vencimiento</mat-label>
                                <input matInput type="number" min="1" formControlName="expireat" name="expireat" title="días de vencimimiento para el documento">
                                <mat-error *ngIf="FormTipEmpDet.get('expireat')?.invalid">Días no puede ser nulo y mayor a cero!</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile  [colspan]="1" [rowspan]="1">
                            <mat-checkbox #chkFecVen id="chkFecVen"  matInput color="primary" (change)="checkValueFV($event.checked)">Requiere vencimiento</mat-checkbox>
                            <input hidden=true matInput>
                        </mat-grid-tile>
                        <mat-grid-tile  [colspan]="4" [rowspan]="1">
                            <mat-form-field appearance="fill">
                                <mat-label>Mensaje de ayuda</mat-label>
                                <textarea  matInput cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="6" maxlength="500"  title="Ingresar mensaje de ayuda para el documento"  formControlName="msjhelp" name="msjhelp"></textarea>
                                <!-- <mat-error *ngIf="FormParam.get('description')?.invalid">Descripción no puede ser nulo!</mat-error> -->
                            </mat-form-field>
                        </mat-grid-tile>
                        <!-- <mat-grid-tile  [colspan]="2" [rowspan]="1">
                            <mat-form-field *ngIf="OcultarDT">
                                <mat-label>Vencimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="expireat" name="expireat">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="FormTipEmpDet.get('expireat')?.invalid">Vencimiento no puede ser nulo!</mat-error>
                            </mat-form-field>
                        </mat-grid-tile> -->
                        <mat-grid-tile  [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="fill">
                                <mat-label>Asignar a</mat-label>
                                <select matNativeControl formControlName="assignto" name="assignto" title="tipo de documento" >
                                    <option value="C">Cliente</option>
                                    <option value="R">Revisor</option>
                                </select>
                                <mat-error *ngIf="FormTipEmpDet.get('assignto')?.invalid">Asignar a puede ser nulo!</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile  [colspan]="1" [rowspan]="1">
                            <mat-slide-toggle color="primary" formControlName="inactive" name="inactive">Documento Inactivo</mat-slide-toggle>
                        </mat-grid-tile>
                        <!-- <mat-grid-tile  [colspan]="1" [rowspan]="1">
                            <button mat-raised-button class="btnprimary" tabindex="-2" type="submit">Agregar</button>
                        </mat-grid-tile> -->
                        <mat-grid-tile  [colspan]="1" [rowspan]="1">
                            <button mat-raised-button class="btnprimary" title="Finalizar" type="submit">Guardar</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </div>
            <br><br>
            <div flex="">
                <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" (eventoFormPadre)="null" (eventoRowOutFormPadre)="EditarRow($event)"></app-table-app>
            </div>
            <!-- <div flex="">
                <mat-selection-list #docanexos (selectionChange)="onClickMList($event)" class="containerTipEmp">
                    <mat-list-option color="primary" *ngFor="let docanexo of Details" value="{{docanexo.name}}">
                      <div class="divdocanexo">Nombre del documento: {{docanexo.name}} </div><div *ngIf="docanexo.expireat > 0" class="divdocanexo"> - Días de Vencimiento: {{docanexo.expireat}}</div>
                    </mat-list-option>
                </mat-selection-list>
                  <p *ngIf="Details.length > 0">
                    Documentos seleccionados: {{docanexos.selectedOptions.selected.length}}
                  </p>
            </div> -->
        <!-- </div> -->
        <!-- <div class="bottomfrm" flex="">
            <hr class="hrheadfrm">
            <div class="divbtnsForm">
                <button id="btnClose" mat-raised-button mat-dialog-close class="btnprimaryc" tabindex="-1">Cancelar</button>
                <button mat-raised-button class="btnprimary" tabindex="-2" type="submit" style="margin-right: 4%;">{{titlebGoE}}</button>
            </div>
        </div> -->
    <!-- </form> -->
</div>

