.container{ 
    margin-left: 2% !important;
    margin-right: 2% !important;
    display: flex;
    overflow: hidden !important;
}

.containerTipEmp{
    max-height: 200px;
    overflow-y: auto !important;
  }

.col>h2 {
    padding: 0px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.divdocanexo{
    display: inline-block;  
}

.input-upper{
    text-transform: uppercase;
  }

form{
    overflow:hidden !important;
}


