<div class="container">
    <div flex="">
        <div class="col"><h1>Gestión de Tipos de Documentos</h1></div>
    </div>
    <div class="mat-tab-group vertical-tabs-app">
        <div class="mat-tab-labels">
            <div class="mat-tab-label-app" (click)="seleccionarPestana('pestana1')" [ngClass]="{'active-mat-tab-app': pestanaSeleccionada === 'pestana1'}"><mat-icon class="icon-align-mat-tab-app">description</mat-icon> General</div>
            <!-- <div class="mat-tab-label" (click)="seleccionarPestana('pestana2')" [ngClass]="{'active-mat-tab-app': pestanaSeleccionada === 'pestana2'}"><mat-icon class="icon-align">move_to_inbox</mat-icon> Importador</div>
            <div class="mat-tab-label" (click)="seleccionarPestana('pestana3')" [ngClass]="{'active-mat-tab-app': pestanaSeleccionada === 'pestana3'}"><mat-icon class="icon-align">outbox</mat-icon> Exportador</div> -->
            <!-- <div class="mat-tab-label" (click)="seleccionarPestana('pestana2')" [ngClass]="{'active-mat-tab-app': pestanaSeleccionada === 'pestana2'}"><mat-icon class="icon-align">lists</mat-icon> Histórico</div> -->
        </div>
        <div class="mat-tab-content-app">
        <div *ngIf="pestanaSeleccionada === 'pestana1'">
            <app-docanexos-form [titledoc]="titledoc"></app-docanexos-form>
        </div>
        <!-- <div *ngIf="pestanaSeleccionada === 'pestana2'">
            <app-docanexos-form></app-docanexos-form>
        </div>
        <div *ngIf="pestanaSeleccionada === 'pestana3'">
            <app-docanexos-form></app-docanexos-form>
        </div> -->
        <!-- <div *ngIf="pestanaSeleccionada === 'pestana2'">
            <div layout="row" layout-xs="column">
                <div flex="">
                    <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar"></app-table-app>
                    <br>
                    <div flex="">
                        <button mat-button color="primary" style="float: right;" class="btnprimary" title="Agregar nuevo tipo de empresa" (click)="openAlertDialog()">Agregar Tipo</button>
                    </div>
                </div> 
            </div>
        </div> -->
    </div>
</div>
<!-- 
<div class="container">


    <div layout="row" layout-xs="column">
        <div flex="">
            <div class="col"><h1>Gestión de Tipos de Documentos</h1></div>
        </div>
        <br>
        <div flex="">
            <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar"></app-table-app>
        <br>
        <div flex="">
            <button mat-button color="primary" style="float: right;" class="btnprimary" title="Agregar nuevo tipo de empresa" (click)="openAlertDialog()">Agregar Tipo</button>
        </div>
    </div> 
</div> -->
