<body>
    <form [formGroup]="FormCPass" class="form" (ngSubmit)="SendEmail(FormCPass.value)">
        <div mat-dialog-content class="col-md-4-offset-md-4" class="my-css-class" align="center">
            <div class="container">
                <div class="divtopcpass">
                    <div style="display: inline-flex;  min-width:100%;">
                        <img class="imgcpass" [attr.width]="'30px'" [attr.height]="'30px'" [src]="'./assets/Icons/question_icon.png'"/><p class="ptitlecpass">¿Has olvidado tu contraseña?</p>
                    </div>
                    <p class="pdesccpass">Si el email es correcto, será enviando un correo con un link para cambiar la contraseña.<br>Si después de cierto tiempo el correo no es recibido, inténte nuevamente.</p> 
                </div>
            </div>
            <br>
            <div class="container">
                <mat-form-field appearance="fill" class="mat-form-cpass">
                    <mat-label>Email</mat-label>
                    <input matInput maxlength="60" class="input-lower" title="Ingresar usuario" formControlName="email" name="email" required>
                    <mat-error *ngIf="FormCPass.get('email')?.invalid">
                        Email es requerido y debe tener un formato de correo!
                    </mat-error>
                </mat-form-field>
            </div><br>
        </div>
        <div mat-dialog-actions style="text-align: center !important;" align="end">
            <button mat-raised-button color="accent" style="width:80% !important; min-width:unset!important; background-color: #2780e3;" type="submit">Enviar</button><br><br>
            <button id="btnClose" mat-raised-button tabindex="-1" style="width:80% !important; min-width:unset!important;" (click)="Ccpass()">Cancelar</button>
            <!-- <button id="btnClose" mat-raised-button class="btnbottomrigth" tabindex="-1" style="margin-right: 3%; border-radius: 0px;" (click)="Ccpass()">Cancelar</button>
            <button mat-raised-button class="btnprimary btnbottomrigth" tabindex="-2" type="submit">Enviar</button> -->
            <br>
        </div>
    </form>
</body>
