
<app-spinner *ngIf="MostrarSpinner"></app-spinner>
<div class="container">
    <div flex="">
        <app-list-filters [VerBotonImprimir]="VerBotonImprimir" [VisualizarElements]="VisualizarElements" (eventosFormPadre)="ListarGrid($event)"></app-list-filters>
    </div>
    <div flex="">
        <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="null" (eventoFormPadre)="PrintPDF($event)"></app-table-app>
    </div>
</div>