.container
{
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

.container > * {
  width: 100% !important;
}

mat-form-field {
    width: 100%;
}

.close.mat-button {
    position: relative !important;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 14px;
    min-width: auto;
  }

  .input-upper{
    text-transform: uppercase;
  }

  .input-lower{
    text-transform: lowercase;
  }