mat-dialog-content {
    padding: 0px;
}

.mat-form-cpass{
    width: 80%;
}

form {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.1); */
    -webkit-box-shadow: 7px 11px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 11px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 11px 11px 0px rgba(0,0,0,0.75);
    margin-top: 8%;
}

.container
{
    display: flex !important;
    flex-direction: column !important;
}

.container > * {
    width: 100% !important;
}

.divtopRpass{
    overflow: auto !important;
    border-left: 5px solid #2596be;
    padding-bottom: 0px !important;
    background-color: rgba(178, 222, 238, 0.721);
}

.ptitlerpass{
    text-align: center !important;
    font-size: 16px; 
    font-weight: bold; 
    text-align: initial; 
    width: 90%; 
    margin-left: 3% !important;
    margin-top: 2% !important;
    color: #2596be;
}

.pdescrpass{
    text-align: justify; 
    font-size: 14px; 
    width: 90%; 
    color: #2596be;
    margin-left: 3% !important;
}

input {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    -o-text-security: disc;
}