<body>
    <app-nav-menu *ngIf="Logueado"></app-nav-menu>
    <form  *ngIf="!Logueado && !VievCPass && !VievResetPass && !DowndLoadDocs" [formGroup]="frmLogin" novalidate (ngSubmit)="Login(frmLogin.value)">
        <div mat-dialog-content class="col-md-4-offset-md-4" class="my-css-class" align="center">
            <!-- <h1 mat-dialog-title>Autenticación de Usuario</h1> -->
            <img src="../../../assets/Imgs/Logo.png" width="150" height="67" style="margin-top:10px;">
            <br><br>
            <div class="container">
                <mat-form-field appearance="fill" class="mat-form-login">
                    <mat-label>Email</mat-label>
                    <input matInput maxlength="60" title="Ingresar usuario" formControlName="email" name="email" required>
                    <mat-error *ngIf="frmLogin.get('email')?.invalid">
                        Email es requerido y debe tener un formato de correo!
                    </mat-error>
                </mat-form-field>
            </div><br>
            <div class="container">
                <mat-form-field appearance="fill"  class="mat-form-login">
                    <mat-label>Password</mat-label>
                    <!-- <input matInput title="Ingresar contraseña" type="password" maxlength="10" formControlName="password" name="password"> -->
                    <input matInput title="Ingresar contraseña" [type]="hidePass ? 'password' : 'text'" maxlength="10" formControlName="password" name="password">
                    <button mat-icon-button type="button" matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="frmLogin.get('password')?.invalid">
                        Contraseña no puede ser nulo!
                    </mat-error>
                </mat-form-field>
            </div><br/>
        </div>
        <div mat-dialog-actions style="text-align: center !important;" align="end">
            <button mat-raised-button color="accent" style="width:80% !important; min-width:unset!important; background-color: #2780e3;" type="submit">Login</button>
            <br><br>
            <mat-error *ngIf="ErrorLogin" style="font-size:14px;">
            {{mensajeLogin}}
            </mat-error>
            <br>
            <a class="acpass" (click)="changePass()" title="Cambiar contraseña">¿Olvidó su contraseña?</a>
        </div>
    </form>
    <app-c-password *ngIf="VievCPass"></app-c-password>
    <app-reset-pass *ngIf="VievResetPass"></app-reset-pass>
    <app-downloaddocs *ngIf="DowndLoadDocs"></app-downloaddocs>
</body>