<form [formGroup]="frmLogin" novalidate (ngSubmit)="Login(frmLogin.value)">
    <div mat-dialog-content class="col-md-4-offset-md-4" class="my-css-class" align="center">
    <h1 mat-dialog-title>Autenticación de Usuario</h1>
    <hr>
      <p>Favor ingresar email y contraseña para ingresar en la aplicación</p>
        <mat-form-field appearance="fill" class="mat-form-login">
          <mat-label>Email</mat-label>
          <input matInput maxlength="60" title="Ingresar usuario" formControlName="email" name="email" required>
          <mat-error *ngIf="frmLogin.get('email')?.invalid">
            Campo email no puede ser nulo y debe tener un formato de correo correcto!
          </mat-error>
        </mat-form-field><br/><br/>
        <mat-form-field appearance="fill"  class="mat-form-login">
          <mat-label>Password</mat-label>
          <input matInput title="Ingresar contraseña" type="password" maxlength="10" formControlName="password" name="password">
          <mat-error *ngIf="frmLogin.get('password')?.invalid">
            Campo contraseña no puede ser nulo!
          </mat-error>
        </mat-form-field><br/><br/>
    </div><br/>
    <div mat-dialog-actions style="text-align: center !important;" align="end">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button type="submit">Acceder</button>
    </div>
  </form>
