<app-spinner *ngIf="MostrarSpinner" [msj]="msjspinner"></app-spinner>
<div class="container" *ngIf="!MostrapnlDocRevi && !MostrapnlHVEditor && MostrapnlHV">
    <div layout="row" layout-xs="column" >
        <div flex="">
            <div class="col"><h1>Gestión de Hojas de Vida</h1></div>
            <p>A continuación se presentan las hojas de vida cargadas al sistema en el transcurso del presente año por los clientes.</p><br>
            <div class="col"><h2>Pendientes por Revisar</h2></div>
        </div>
        <br>
        <div flex="">
            <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar" (eventosFormPadre)="EditarRowReview($event)"></app-table-app>
            <!-- <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar" (eventoFormPadre)="OcultarGrid($event)"></app-table-app> -->
        </div>
    </div>
    <div layout="row" layout-xs="column">
        <div flex="">
            <div class="col"><h2>Histórico de Hojas de Vida Verificadas</h2></div>
        </div>
        <br>
        <div flex="">
            <app-table-app [dataSource]="dataSourceC" [dataColumns]="dataColumnsC" [displayedColumns]="displayedColumnsC" [modelEditar]="modelEditarC" (eventosFormPadre)="EventosAcciones($event)"></app-table-app>
        </div><br>
    </div> 
</div>
<div class="container2" *ngIf="!MostrapnlDocRevi && !MostrapnlHV && !MostrapnlHVEditor">
    <!-- <div class="col"><h1>Hoja de Vida</h1></div><br> -->
    <div class="subcontainer">
        <mat-list>
            <button mat-raised-button class="btnprimary" tabindex="-2" type="button" title="Regresar al listado" (click)="backListado()"><mat-icon>chevron_left</mat-icon> Atrás</button> 
            <div class="col"><h3>Resumen General</h3></div><br>
            <mat-list-item>Información General</mat-list-item>
            <mat-divider></mat-divider><br>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <form>
                    <mat-grid-list cols="8" rowHeight="60px">
                        <mat-grid-tile [colspan]="chip.columns" [rowspan]="1" *ngFor="let chip of ChipStep1">
                            <mat-form-field appearance="fill" *ngIf="!verificarTipoDeCampo(chip.value)">
                                <mat-label>{{chip.title}}</mat-label>
<!--                                <input matInput class="selectedElem" (click)="chipClick($event)" (dblclick)="chipClicked($event)" id="{{chip.node + '.' + chip.subnode}}" title="Campo {{chip.title}}" value="{{chip.value}}" [readonly]="true">-->
                                <!-- <input *ngIf="porCorregir(chip)" matInput  class="NoselectedElem" (click)="chipClick($event)" (dblclick)="chipClicked($event)" id="{{chip.node + '.' + chip.subnode}}" title="Campo {{chip.title}}" value="{{chip.value}}" [readonly]="true"> -->
                                <!-- <input *ngIf="!porCorregir(chip)" matInput  class="selectedElem" (click)="chipClick($event)" (dblclick)="chipClicked($event)" id="{{chip.node + '.' + chip.subnode}}" title="Campo {{chip.title}}" value="{{chip.value}}" [readonly]="true"> -->
                                <input [ngClass]="{'NoselectedElem' : porCorregir(chip), 'selectedElem': !porCorregir(chip)}" matInput  class="selectedElem" (click)="chipClick($event)" (dblclick)="chipClicked($event)" id="{{chip.node + '.' + chip.subnode}}" title="Campo {{chip.title}}" value="{{chip.value}}" [readonly]="true">
                            </mat-form-field>
                            <div id="{{chip.node + '.' + chip.subnode}}" class="selectedElem divMatSlide" (dblclick)="chipClicked($event)" *ngIf="verificarTipoDeCampo(chip.value)">
                                <mat-slide-toggle color="primary" [(ngModel)]="chip.value" [disabled]="true" name="{{chip.node + '.' + chip.subnode}}">{{chip.title}}</mat-slide-toggle>
                            </div>
                            <!-- <mat-slide-toggle color="primary" [(ngModel)]="chip.value" [disabled]="true" name="{{chip.node + '.' + chip.subnode}}" id="{{chip.node + '.' + chip.subnode}}" class="selectedElem" (dblclick)="chipClicked($event)" *ngIf="verificarTipoDeCampo(chip.value)">{{chip.title}}</mat-slide-toggle> -->
                            <!-- <mat-checkbox *ngIf="verificarTipoDeCampo(chip.value)" color="primary" [(ngModel)]="chip.value" [disabled]="true">{{chip.title}}</mat-checkbox> -->
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </div>
            <mat-list-item>Información Personas Autorizadas</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourcePA" [dataColumns]="dataColumnsPA" [displayedColumns]="displayedColumnsPA" [modelEditar]="modelEditarPA" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)" [rowsReject]="FieldsWithErrors"></app-table-app>
            </div><br>
            <mat-list-item>Información Referencias Comerciales</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourceRC" [dataColumns]="dataColumnsRC" [displayedColumns]="displayedColumnsRC" [modelEditar]="modelEditarRC" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)" [rowsReject]="FieldsWithErrors"></app-table-app>
            </div>
            <mat-list-item>Referencias Bancarias</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourceRB" [dataColumns]="dataColumnsRB" [displayedColumns]="displayedColumnsRB" [modelEditar]="modelEditarRB" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)" [rowsReject]="FieldsWithErrors"></app-table-app>
            </div>
            <mat-list-item>Datos de Clientes</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourceRCE" [dataColumns]="dataColumnsRCE" [displayedColumns]="displayedColumnsRCE" [modelEditar]="modelEditarRCE" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)" [rowsReject]="FieldsWithErrors"></app-table-app>
            </div>
            <mat-list-item>Datos de Proveedores</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourceRPE" [dataColumns]="dataColumnsRPE" [displayedColumns]="displayedColumnsRPE" [modelEditar]="modelEditarRPE" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)" [rowsReject]="FieldsWithErrors"></app-table-app>
            </div>
            <mat-list-item>Información Financiera</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <form>
                    <mat-grid-list cols="8" rowHeight="60px">
                        <mat-grid-tile  [colspan]="chip.columns" [rowspan]="1" *ngFor="let chip of ChipStep7">
                            <mat-form-field appearance="fill" class="" *ngIf="!verificarTipoDeCampo(chip.value)">
                                <mat-label>{{chip.title}}</mat-label>
                                <!-- <input matInput  id="{{chip.node + '.' + chip.subnode}}" class="selectedElem"  title="Campo {{chip.title}}" (click)="chipClick($event)" (dblclick)="chipClicked($event)" value="{{chip.value}}" [readonly]="true"> -->
                                <input [ngClass]="{'NoselectedElem' : porCorregir(chip), 'selectedElem': !porCorregir(chip)}" matInput  class="selectedElem" (click)="chipClick($event)" (dblclick)="chipClicked($event)" id="{{chip.node + '.' + chip.subnode}}" title="Campo {{chip.title}}" value="{{chip.value}}" [readonly]="true">
                            </mat-form-field>
                            <!-- <mat-slide-toggle *ngIf="verificarTipoDeCampo(chip.value)" color="primary" [(ngModel)]="chip.value" [disabled]="true"  name="{{chip.node + '.' + chip.subnode}}">{{chip.title}}</mat-slide-toggle> -->
                            <!-- <mat-checkbox *ngIf="verificarTipoDeCampo(chip.value)" color="primary" [(ngModel)]="chip.value" [disabled]="true">{{chip.title}}</mat-checkbox> -->
                            <div id="{{chip.node + '.' + chip.subnode}}" class="selectedElem divMatSlide" (dblclick)="chipClicked($event)" *ngIf="verificarTipoDeCampo(chip.value)">
                                <mat-slide-toggle color="primary" [(ngModel)]="chip.value" [disabled]="true" name="{{chip.node + '.' + chip.subnode}}">{{chip.title}}</mat-slide-toggle>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </div>
            <mat-list-item>Composición Accionaria</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;" >
                <app-table-app [dataSource]="dataSourceAcc" [dataColumns]="dataColumnsAcc" [displayedColumns]="displayedColumnsAcc" [modelEditar]="modelEditarAcc" (eventoFormPadre)="null" (eventoRowOutFormPadre)="SeleccionarRowPerAut($event)"  [rowsReject]="FieldsWithErrors"></app-table-app>
            </div>
            <mat-list-item>Contrato de Suministros</mat-list-item>
            <mat-divider></mat-divider>
            <div layout="row" layout-xs="column" style="padding-bottom: 10% !important;" >
                <mat-grid-list cols="8" rowHeight="60px" >
                <mat-grid-tile [colspan]="8" [rowspan]="1">
                        <mat-form-field appearance="fill" class="">
                        <mat-label>¿Ha cargado contratos de suministros?</mat-label>
                        <input matNativeControl value="{{Supplies}}" readonly />
                    </mat-form-field>
                </mat-grid-tile>
                </mat-grid-list>
            </div>
    </mat-list>
    </div>
    <div class="subcontainer2">
        <div class="col"><h3>Visualización de Documentos</h3></div><br>
        <mat-grid-list cols="8" rowHeight="60px" *ngIf="Documents">
            <mat-grid-tile  [colspan]="4" [rowspan]="1.2">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Seleccionar documento a visualizar</mat-label>
                    <select #slDoc matNativeControl title="Seleccione el documento a visualizar" (change)="onChangeDoc($event)">
                        <option [value]="0">Seleccione un documento...</option>
                        <option *ngFor="let doc of Documents" id="{{doc.nameCi}}" [value]="doc.value">{{doc.name}}</option>
                    </select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-slide-toggle color="primary" (change)="onCheckboxChangeDocs($event)" [(ngModel)]="ValueAproRechazarDocs" name="AprobarDoc"  title="Aprobar o rechazar documento de la hoja de vida">{{TituloBotonAproRechazarDocs}}</mat-slide-toggle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button #btnApRecDoc mat-raised-button class="btnprimary" style="min-width: 60% !important;" title="Aprobar o rechazar documento de la hoja de vida" type="button" (click)="AprobarRechazarDOC()">{{TituloBotonAproRechazarDocs}}</button>
                <mat-icon matBadge="{{hv_info_step9.length}}" class="maticonsdocs" (click)="VerDocsAddRoA()" title="Clic para ver los documentos que han sido agregados">post_add</mat-icon>
            </mat-grid-tile>
        </mat-grid-list><br>
        <div *ngIf="Visualizar" style="width: 100%; height: 100%;">
            <iframe [src]='safePdfUrl' frameborder="0" width="100%" height="100%"></iframe><br>
        </div>
    </div>
    <div class="subcontainerFixed">
        <form [formGroup]="FrmAprobarHV" (ngSubmit)="AprobarRechazarHV(FrmAprobarHV.value)">
            <mat-grid-list cols="8" rowHeight="75px" *ngIf="Documents">
                <mat-grid-tile  [colspan]="5" [rowspan]="1">
                    <mat-form-field appearance="fill" class="">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput maxlength="250" class="no-resize" rows="2" placeholder="Observaciones de la hoja de vida" title="Observaciones de la hoja de vida" formControlName="annotations" name="annotations" required></textarea>
                        <mat-error *ngIf="FrmAprobarHV.get('annotations')?.invalid">Observaciones no puede ser nulo!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-slide-toggle color="primary" style="margin-top: 5%;" formControlName="isReject" (change)="onCheckboxChange($event)" name="isReject" title="Aprobar o rechazar la hoja de vida" >{{TituloBotonAproRechazar}}</mat-slide-toggle>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Fecha Vencimiento de Mandato</mat-label>
                        <input matInput [matDatepicker]="dtpMand" formControlName="deadlinedate" name="deadlinedate" [min]="currentDate" readonly>
                        <mat-datepicker-toggle matIconSuffix  [for]="dtpMand"></mat-datepicker-toggle>
                        <mat-datepicker #dtpMand></mat-datepicker>
                        <mat-error *ngIf="FrmAprobarHV.get('deadlinedate')?.invalid">
                            Fecha no puede ser nula!
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button class="btnprimary" style="min-width: 60% !important; margin-top: 5%;" title="Aprobar o rechazar hoja de vida" type="submit">{{TituloBotonAproRechazar}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form><br>
    </div>
</div>
<div class="containerG" *ngIf="MostrapnlDocRevi">
    <button mat-raised-button class="btnprimary" tabindex="-2" type="button" title="Regresar al listado" (click)="backListado()"><mat-icon>chevron_left</mat-icon> Atrás</button> 
    <div class="col"><h3>Visualización de Documentos</h3></div><br>
    <form [formGroup]="FrmDocsRev" (ngSubmit)="GuardarDocRevisor(FrmDocsRev.value)">
        <mat-grid-list cols="8"  rowHeight="75px">
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="4" [rowspan]="1">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Cliente:</mat-label>
                    <input matInput title="Nombre o razón social" readonly formControlName="nameenterprise">
                    <input type="hidden" formControlName="hvId" name="hvId">
                    <input type="hidden" formControlName="id" name="id">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Estado:</mat-label>
                    <input matInput title="Estado" readonly formControlName="state">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="4" [rowspan]="1">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Motivo:</mat-label>
                    <select matNativeControl formControlName="hvreasonId" name="hvreasonId" title="Motivo" placeholder="Motivo" >
                        <option value=""> Seleccione...</option>
                        <option *ngFor="let reason of reasonRR" [ngValue]="reason.id">{{reason.name}}</option>
                    </select>
                    <mat-error *ngIf="FrmDocsRev.get('hvreasonId')?.invalid">Motivo es requerido!</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Fecha (dd/MM/AAAA)</mat-label>
                    <input matInput [matDatepicker]="fechaExp" formControlName="dateupload" readonly title="Fecha" [max]="currentD">
                    <mat-datepicker-toggle matIconSuffix [for]="fechaExp"></mat-datepicker-toggle>
                    <mat-datepicker #fechaExp></mat-datepicker>
                    <mat-error *ngIf="FrmDocsRev.get('dateupload')?.invalid">
                        Fecha no puede ser nula!
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="4" [rowspan]="1">
                <!-- <select matNativeControl class="eleauto" formControlName="docattachmentId" name="docattachmentId" title="Documento a validar" placeholder="Documento" >
                    <option value=""> Seleccione...</option>
                    <option *ngFor="let doc of DocsR" [ngValue]="doc.id">{{doc.name}}</option>
                </select> -->
                <mat-form-field appearance="fill" class="">
                    <mat-label>Documento:</mat-label>
                    <input matInput title="Documento a verificar" [matAutocomplete]="AutoDocs" formControlName="documentname" required  placeholder="Seleccione un documento">
                    <mat-autocomplete #AutoDocs="matAutocomplete" autoActiveFirstOption>
                        <mat-option *ngFor="let option of filteredOptionsDocs | async" [value]="option.name">
                            {{option.id + ' - ' + option.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FrmDocsRev.get('documentname')?.invalid">Documento es requerido!</mat-error>
                    <input type="hidden" formControlName="docattachmentId" name="docattachmentId">
                    <input type="hidden" formControlName="docoperationtype" name="docoperationtype">                         
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="2" [rowspan]="1">
                <button mat-flat-button class="btnprimaryAtt btnFileApp" type="button" title="Clic para adjuntar archivo" id="fakeFileInput" (click)="hiddenInputFile.click()"><mat-icon *ngIf="DocLoad">check_small</mat-icon><mat-icon *ngIf="!DocLoad">attach_file</mat-icon>Cargar Archivo</button>
                <input hidden type="file" accept=".pdf" #hiddenInputFile (change)="GetFileOnLoad($event)" >
                <input type="hidden" formControlName="files">
                <input type="hidden" #txtDocEnc>    
                <mat-icon title="Ver .PDF" (click)="ViewPDF()" class="mat-iconhvclient">visibility</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="6" [rowspan]="1">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Observaciones:</mat-label>
                    <textarea matInput placeholder="Observaciones" style="resize: none;"  rows="3" formControlName="comment" name="comment" required maxlength="500"></textarea>
                    <mat-error *ngIf="FrmDocsRev.get('comment')?.invalid">Observaciones no puede ser nulo!</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="5" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile  [colspan]="2" [rowspan]="1">
                <button mat-raised-button class="btnprimary" type="button" title="nuevo registro" (click)="clearDoc()">Nuevo</button>
                <button mat-raised-button class="btnprimaryHVGA" type="submit" title="Guardar documento del revisor">Guardar</button>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1"></mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div class="containerG"  *ngIf="MostrapnlDocRevi">
    <div layout="row" layout-xs="column" style="padding-bottom: 1% !important;">
        <app-table-app [dataSource]="dataSourceDet" [dataColumns]="dataColumnsDet" [displayedColumns]="displayedColumnsDet" [modelEditar]="modelEditarDet" (eventoFormPadre)="null" (eventoRowOutFormPadre)="EditarRowDocsRev($event)"></app-table-app>
    </div>
</div>
<div *ngIf="!MostrapnlDocRevi && MostrapnlHVEditor && !MostrapnlHV">
    <app-hv-client [rowGridDetails]="rowGridDetails" [navegadorPadre]="navegadorPadre" (eventoFormPadre)="EventosOut($event)"></app-hv-client>
</div>