/*Material Table CSS*/
  .table-container {
    width: 100%;
    overflow-x: auto !important;
  }

  table {
    /* display: block !important; */
    /* min-width: 100% !important; */
    /* min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: auto !important; */
    width: 100%; /* O ajusta según sea necesario */
    border-collapse: collapse;
  }

  /* .mat-mdc-cell{
    word-wrap: break-word !important;
    --white-space: unset !important;
    flex: 0 0 28% !important;
    width: auto !important;
    --28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    --padding: 0px 5px;
     --text-align: center;
     display: table-cell;
     white-space: nowrap;
  } */

 .mat-mdc-cell,
 .mat-mdc-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto !important;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-mdc-row:hover{
    cursor: pointer;
    border-color: black;
  }

  .mat-mdc-header-cell {
    width: auto !important;
    min-width: 10% !important;
    background-color: #2780e3 !important;
    color: white;
    /* text-align: center; */
    /* white-space: nowrap; */
  }

  mat-row,
  mat-header-row {
    display: table-row;
  }
  /* Cuando se seleccione una fila */
  .highlight{
    background-color: #d7f0fb;
  }

  .rejectRow{
    background-color:rgb(240, 149, 65) !important;
  }

  .NorejectRow{
    background-color: rgb(161, 221, 191) !important;
  }
  /* .mat-mdc-row:nth-child(4n+1) {
    background: red;
  }
   */
  .mat-mdc-row:nth-child(2n) {
    background: rgb(234, 234, 236);
  }
  .mat-mdc-row:nth-child(2n):hover {
    background: rgb(234, 234, 236);
  }
  
  /* .mat-mdc-cell {
    width: auto !important;
    min-width: 10% !important;
  } */

  .hide_element{
    display: none;
  }
  
  /* ::ng-deep .mat-paginator {
    .mat-paginator-container {
        justify-content: center;
    }

    override material paginator page switch
    .mat-paginator-range-label {
        order: 2;
    }

    .mat-paginator-navigation-previous {
        order: 1;
    }
    .mat-paginator-navigation-next {
        order: 3;
    }
} */

mat-paginator {
  display: flex;
  justify-content: center;
}
/*=======================================*/
.mat-mdc-form-field {
  font-size: 14px !important;
  width: 100% !important;
}

.btnExport:hover {
  cursor: pointer;
}

.btn-primary-icons-table{
  border: none !important;
  background-color: #2780e3 !important;
  color: white !important;
  border-radius: 2px !important;
  margin-right: 1%;
  padding: 3px 5px 3px 5px;
}

.btn-primary-icons-table:hover{
  cursor: pointer;
  background-color: #0656b2 !important;
}

/* .mdc-evolution-chip, .mdc-evolution-chip__cell, .mdc-evolution-chip__action{
  background-color: #2780e3 !important;
} */


.RRevisar{
  background-color: #2780e3 !important;
}

.RRechazada{
  background-color: rgb(121, 4, 4) !important;
}

.RAprobada{
  background-color: rgb(4, 190, 97) !important;
}

.RCargar{
  background-color: rgb(240, 149, 65) !important;
}

/* .table-div {
  overflow-x: scroll !important;
  
  mat-table {
     table-layout: fixed;
       mat-header-cell, mat-cell {
         overflow-wrap: normal;
         white-space: nowrap;
         overflow: visible !important;
         margin-right: 30px;
         flex: 0 0 300px;
       }
  }
} */

/* .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
} */

/* table {
 width: 1200px !important;
 max-width: 1200px;
 margin-bottom: 1rem;
 display: table;
 border-collapse: collapse;
 margin: 0px;
} */

/* mat-row,
mat-header-row {
  display: table-row;
} */
/* mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto !important;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
} */