.container{
    margin-top: 2% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    max-height: 100%;
    overflow:auto !important;
    font-size: 14px !important;
} 

.col>h3 {
    flex: 1 0 0%;
    text-align: center;
    font-size: 1.8rem;
  }

  .col3b>h3 {
    flex: 1 0 0%;
    text-align: center;
    font-size: 1.8rem;
    color: #2780e3;
    font-weight:500;
  }

  /*Material Table CSS*/
table {
    /*display: block;*/
    width: 100%;
    overflow-x: auto !important;
  }

/* Cuando se seleccione una fila */
.highlight{
    background-color: #d7f0fb;
  }

.mat-mdc-row:nth-child(2n) {
    background: rgb(234, 234, 236);
  }

.mat-mdc-row:nth-child(2n):hover {
    background: rgb(234, 234, 236);
  }
  
.mat-mdc-cell{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: auto !important;
    /* width: 28% !important; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-mdc-row:hover{
    cursor: pointer;
    border-color: black;
}

.mat-mdc-header-cell {
    width: auto !important;
    min-width: 10% !important;
    background-color: #2780e3 !important;
    color: white;
    /* text-align: center; */
}

.hide_element{
    display: none;
}
  

mat-paginator {
  display: flex;
  justify-content: center;
}
/*=======================================*/
.mat-mdc-form-field {
  font-size: 14px !important;
  width: 100% !important;
}

.btnExport:hover {
  cursor: pointer;
}

.pdocselected{
  padding-left: 5%; 
  padding-bottom: 3%; 
  font-size: 16px; 
  color: rgb(104, 102, 102);
}

.mat-elevation{
  border-radius: 5px;
  padding: 4px;
  min-height: 70%;
  height: 70%;
}

.divmtselection{
  display: inline-block;
  padding-left:1%; 
  padding-top: 1%; 
  padding-bottom: 1%;
}

.divmtselectiontitle{
  background-color: #2780e3;
  width: 93% !important;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 3.5%;
  margin-top: -2%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.child {
  flex: 1;
}

.mat-mdc-paginator-outer-container{
  display: inline !important;
}
.mat-mdc-paginator-container{
  padding-right: 1px !important;
  padding-left: 1px !important;
} 

.btn-primary-icons-table{
  border: none !important;
  background-color: #2780e3 !important;
  color: white !important;
  border-radius: 2px !important;
  margin-right: 1%;
  padding: 3px 5px 3px 5px;
}

.btn-primary-icons-table:hover{
  cursor: pointer;
  background-color: #0656b2 !important;
}