<div class="container">
    <div flex="">
        <div class="col"><h1>Calendario</h1></div><br>
        <form [formGroup]="FrmCalendar" (ngSubmit)="HacerCalendario(FrmCalendar.value)">
            <mat-accordion class="accordion-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Criterios de Creación
                        </mat-panel-title>
                        <mat-panel-description>
                            Aquí puede seleccionar como desea insertar la información
                            <!-- <mat-icon title="Clic aquí para listar">view_list</mat-icon> -->
                            <mat-icon>view_list</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-grid-list cols="8" rowHeight="60px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Fecha Inicial</mat-label>
                                <input matInput [matDatepicker]="datepickerToggle" formControlName="fechaInicio" name="fechaInicio" [max]="currentDate">
                                <mat-datepicker-toggle matIconSuffix  [for]="datepickerToggle"></mat-datepicker-toggle>
                                <mat-datepicker #datepickerToggle></mat-datepicker>
                                <mat-error *ngIf="FrmCalendar.get('fechaInicio')?.invalid">
                                    Fecha inicial es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Fecha Final</mat-label>
                                <input matInput [matDatepicker]="datepickerToggle" formControlName="fechaInicio" name="fechaInicio" [max]="currentDate">
                                <mat-datepicker-toggle matIconSuffix  [for]="datepickerToggle"></mat-datepicker-toggle>
                                <mat-datepicker #datepickerToggle></mat-datepicker>
                                <mat-error *ngIf="FrmCalendar.get('fechaFin')?.invalid">
                                    Fecha final es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Tipo de Operación:</mat-label>
                                <select matNativeControl formControlName="tipoOper" name="tipoOper" title="Tipo de operación" placeholder="Seleccione un tipo de operación" >
                                    <option value="11"> Terrestre</option>
                                    <option value="12"> Marítimo</option>
                                    <option value="13"> Áereo</option>
                                </select>
                                <mat-error *ngIf="FrmCalendar.get('tipoOper')?.invalid">
                                    Tipo de operación es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Sucursal:</mat-label>
                                <select matNativeControl formControlName="sucursal" name="sucursal" title="Sucursal" placeholder="Seleccione una sucursal" >
                                    <option value="11"> Santander</option>
                                    <option value="12"> Barranquilla</option>
                                    <option value="13"> Cartagena</option>
                                </select>
                                <mat-error *ngIf="FrmCalendar.get('Sucursal')?.invalid">
                                    Sucursal es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Consecutivo:</mat-label>
                                <input matInput maxlength="100" title="Consecutivo" formControlName="consecutivo" name="consecutivo" required>
                                <mat-error *ngIf="FrmCalendar.get('consecutivo')?.invalid">
                                    Consecutivo es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Fecha Programación:</mat-label>
                                <input matInput [matDatepicker]="datepickerToggle" formControlName="fechaPro" name="fechaPro" [max]="currentDate">
                                <mat-datepicker-toggle matIconSuffix  [for]="datepickerToggle"></mat-datepicker-toggle>
                                <mat-datepicker #datepickerToggle></mat-datepicker>
                                <mat-error *ngIf="FrmCalendar.get('fechaPro')?.invalid">
                                    Fecha de programación es requerida!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Asignado a:</mat-label>
                                <input matInput maxlength="100" title="Asignar al líder coordinador" formControlName="responsable" name="responsable" required>
                                <mat-error *ngIf="FrmCalendar.get('responsable')?.invalid">
                                    Responsable es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Cliente:</mat-label>
                                <input matInput maxlength="100" title="Cliente" formControlName="cliente" name="cliente" required>
                                <mat-error *ngIf="FrmCalendar.get('cliente')?.invalid">
                                    Cliente es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Cantidad de Registros:</mat-label>
                                <input matInput type="number" maxlength="3" title="Registros a adicionar" formControlName="registros" name="registros" required>
                                <mat-error *ngIf="FrmCalendar.get('registros')?.invalid">
                                    Cantidad de registros es requerido!
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <button mat-raised-button class="btnprimary" type="button" title="Insertar filas" (click)="InsertarFilas()">Insertar</button>
                            <button mat-raised-button class="btnprimary" type="reset" title="Limpiar criterios">Limpiar</button>
                        </mat-grid-tile>
                        <!-- <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <button mat-raised-button class="btnprimary" type="button" title="Insertar filas" (click)="InsertarFilas()">Insertar</button>
                            <button mat-raised-button class="btnprimary" type="reset" title="Limpiar criterios">Limpiar</button>
                        </mat-grid-tile> -->
                    </mat-grid-list>
                </mat-expansion-panel>
            </mat-accordion><br>
            <!-- <div class="pnlcontbottons">
                <button mat-raised-button class="btnprimary" type="button" title="Imprimir listado" (click)="InsertarFilas()">Insertar</button>
                <button mat-raised-button class="btnprimary" type="reset" title="Limpiar criterios">Limpiar</button>
            </div> -->
        </form>
    </div>
</div>