<header>
  <div class="containerNav" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar class="toolbar" *ngIf ="ShowMenu">
      <!-- <button mat-icon-button (click)="openSideNav(snav)" title="Ver menú"><mat-icon>menu</mat-icon></button> -->
      <a class="navbar-brand" [routerLink]="['/']" style="font-weight:bold;"><img class="NavimgLogoIni" src="../../../assets/Imgs/Logo.png" width="120" height="50" style="padding-top:10%; padding-bottom: 10%;"></a>
      <a [routerLink]="['/']" class="NavimgLogoIni" style="font-weight:normal; font-size: 14px; border-style: none !important; text-decoration: none !important; color: black; padding-left: 5px;">Inicio</a>
      <ul class="ulNav">
        <li style="padding-top: 6px;">{{userlogueado}}</li>
        <li><button mat-icon-button class="loginicon" title="Salir de la aplicación"  (click)="Logout()"><mat-icon>power_settings_new</mat-icon></button></li>
      </ul>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="nav-list">
          <!--<a mat-list-item class="mat-list-itemc"  [routerLink]="['/']">
            <mat-icon class="icon-nav">home</mat-icon>
          </a>
          [routerLink]="mainItem.menu_route"-->
          <a mat-list-item class="mat-list-itemc" *ngFor="let mainItem of MenuNav" #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="sub_menu" >
            <!-- <mat-icon class="icon-nav" [ngStyle]="{'color': MenuNav.includes(mainItem.submenu) ? 'red' : 'yellow'}"  [matMenuTriggerFor]="sub_menu">{{mainItem?.iconm}}</mat-icon> -->
            <mat-icon class="icon-nav" >{{mainItem?.menu_icon}}</mat-icon>
            <!-- <mat-icon class="icon-nav" *ngIf="MenuNav.includes({{mainItem?.submenu}})">{{mainItem?.iconm}}</mat-icon> -->
            <mat-menu [hasBackdrop]="true" yPosition="below" #sub_menu="matMenu" class="">
              <mat-label class="navmatmenutitle">{{mainItem?.menu_name}} <mat-icon class="icon-nav" style="margin-top:5px;">arrow_drop_down</mat-icon></mat-label>
              <!--[routerLink]="subItem.item_route"-->
              <a class="mat-list-subitem" skipLocationChange ="true" [routerLink]="mainItem.menu_route + subItem.item_route"  *ngFor="let subItem of mainItem?.permissions" mat-menu-item>
                <mat-label class="matlbNav"><mat-icon class="icon-nav-sub">{{subItem.item_icon}}</mat-icon>{{subItem.item_name}}</mat-label> 
              </a>
            </mat-menu>
            <!-- <mat-menu class="submenu" *ngIf="MenuNav.includes(mainItem?.submenu)"></mat-menu> -->
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</header>

