<div class="container">
    <!-- <div layout="row" layout-xs="column"  *ngIf="!GuardarParam"></div> -->
    <div layout="row" layout-xs="column">
        <div flex="">
            <div class="col"><h1>Gestión de Parámetros</h1></div>
        </div>
        <br>
        <div flex="">
            <!-- (getRowOut)="openAlertDialog($event)"  [callbackEditar]="callbackEditar"-->
            <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar"></app-table-app>
        <br>
        <div flex="">
            <button mat-button color="primary" style="float: right;" class="btnprimary" title="Agregar nuevo parametro" (click)="openAlertDialog()">Agregar Parámetro</button>
            <!-- <button mat-button color="primary" style="float: right;" class="btnprimary" title="Agregar nuevo usuario" (click)="Guardarusuario()">Agregar Usuario</button> -->
        </div>
    </div> 
</div>
