/*Estilos de Grilla*/
/*Material Table CSS*/
.table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  
  table {
    /* display: block !important; */
    /* min-width: 100% !important; */
    /* min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: auto !important; */
    width: 100%; /* O ajusta según sea necesario */
    border-collapse: collapse;
  }
  
  /* .mat-mdc-cell{
    word-wrap: break-word !important;
    --white-space: unset !important;
    flex: 0 0 28% !important;
    width: auto !important;
    --28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    --padding: 0px 5px;
     --text-align: center;
     display: table-cell;
     white-space: nowrap;
  } */
  
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto !important;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
    
.mat-paginator-range-label {
    display: none;
}

mat-paginator {
    display: flex;
    justify-content: center;
}

.mat-mdc-header-cell {
    width: auto !important;
    min-width: 10% !important;
    background-color: #2780e3 !important;
    color: white;
    /* text-align: center; */
    /* white-space: nowrap; */
}

mat-row,
mat-header-row {
    display: table-row;
}

/* .mat-form-field {
    font-size: 14px;
    width: 100%;
} */


/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(255, 255, 255);
    /* background-color: white; */
}
/* Font color */
input.mat-input-element {
    color: rgb(0, 0, 0);
}  

mat-form-field {
    width:auto !important;
}

.hide_element{
    display: none;
}

.noedit_element{
    border: none !important;
    background-color: white !important;
}

.noedit_element:disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed; 
}

.btn-primary-icons-table{
    border: none !important;
    background-color: #2780e3 !important;
    color: white !important;
    border-radius: 2px !important;
    margin-right: 1%;
    padding: 3px 5px 3px 5px;
  }
  
  .btn-primary-icons-table:hover{
    cursor: pointer;
    background-color: #0656b2 !important;
  }