<!-- Tabla -->
<div class="mat-elevation-z8">
    <button *ngIf="MostrarBotonAddRow">
      <mat-icon (click)="AddNewRow()" class="add-button">add_box</mat-icon>
    </button><br />
    <mat-form-field style="width: 79% !important">
      <mat-label>Filtrar tabla:</mat-label>
      <input matInput (keyup)="applyFilterGrid($event)" placeholder="Digite un criterio de búsqueda" #input/>
    </mat-form-field>
    <mat-form-field style="width: 20%; float: right">
      <mat-label>Ir a la página</mat-label>
      <input matInput type="number" placeholder="Enter para ir a la página" [(ngModel)]="pageNumber" (ngModelChange)="goToPage()"/>
    </mat-form-field>
    <div class="table-container">
        <form [formGroup]="Formulario" autocomplete="off">
            <ng-container formArrayName="FrmRows">
                <table #tableEdit mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                    <ng-container [matColumnDef]="column.name" *ngFor="let column of dataColumns;">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="[!column.display ? 'hide_element' : '']">{{column.title}}</th>
                        <td mat-cell *matCellDef="let element;  let i = index" [ngClass]="[!column.display ? 'hide_element' : '']" [formGroup]="element">
                            <mat-form-field *ngIf="column.tipoelemento == 'inputtexto'" [ngClass]="[!column.editable ? 'noedit_element' : '']">
                                <input matInput type="text" formControlName="{{column.name}}" [readonly]="!column.editable"/>
                            </mat-form-field>
                            <mat-form-field *ngIf="column.tipoelemento == 'inputnumero'">
                                <input matInput type="number" formControlName="{{column.name}}" [readonly]="!column.editable"/>
                            </mat-form-field>
                            <mat-form-field *ngIf="column.tipoelemento == 'inputcheck'">
                                <input matInput type="checkbox" formControlName="{{column.name}}" [readonly]="!column.editable"/>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Guardar cambios"(click)="SaveFormGrid(Formulario, i)" *ngIf="botonSave" color="primary">
                                <mat-icon>check_circle</mat-icon>
                            </button>
                            <button mat-icon-button class="material-icons app-toolbar-menu cancel-button" matTooltip="Cancelar cambios" color="warn" (click)="CancelFormGrid(Formulario,i)" *ngIf="botonCancel">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            <!-- <button mat-icon-button class="material-icons app-toolbar-menu save-button" *ngIf="botonEdit" matTooltip="Editar" color="primary" (click)="EditFormGrid(Formulario, i, element)">
                                <mat-icon>edit</mat-icon>
                            </button> -->
                            <button mat-mini-fab class="btn-primary-icons-table" *ngIf="botonEdit" matTooltip="Editar" color="primary" (click)="EditFormGrid(Formulario, i, element)"><mat-icon>border_color</mat-icon></button>
                            <button mat-icon-button class="material-icons app-toolbar-menu delete-button" *ngIf="botonDelete" matTooltip="Eliminar" style="color: rgb(121, 4, 4);" (click)="DeleteFormGrid(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                        No hay registros coincidentes para "{{input.value}}"
                        </td>
                    </tr>
                </table>
            </ng-container>
        </form>
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
        </mat-card>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20 ]" showFirstLastButtons></mat-paginator> -->
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione la página"></mat-paginator><br>

