<div class="container" *ngIf="MostrapnlHV">
    <div layout="row" layout-xs="column" >
        <div flex="">
            <div class="col"><h1>Gestión de Hojas de Vida</h1></div>
            <p>A continuación se presentan las hojas de vida cargadas al sistema en el transcurso del presente año.</p><br>
            <div class="col"><h2>Pendientes por Cargar</h2></div>
        </div>
        <br>
        <div flex="">
            <!-- <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar" [callbackBoton]="callbackBoton" (variablecontrolpadre)="OcultarGrid($event)"></app-table-app> -->
            <app-table-app [dataSource]="dataSource" [dataColumns]="dataColumns" [displayedColumns]="displayedColumns" [modelEditar]="modelEditar" [callbackEditar]="callbackEditar" (eventoFormPadre)="OcultarGrid($event)"></app-table-app>
        </div>
    </div>
    <div layout="row" layout-xs="column">
        <div flex="">
            <div class="col"><h2>Histórico de Hojas de Vida</h2></div>
        </div>
        <br>
        <div flex="">
            <app-table-app [dataSource]="dataSourceC" [dataColumns]="dataColumnsC" [displayedColumns]="displayedColumnsC" [modelEditar]="modelEditarC"></app-table-app>
        </div><br>
    </div> 
</div>
<div *ngIf="!MostrapnlHV">
    <app-hv-client [rowGridDetails]="rowGridDetails"></app-hv-client>
</div>
